@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body,
:root {
  height: 100%;
  font-size: 14px;
  scroll-behavior: smooth;
}

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

main {
  min-height: calc(100vh - 100px);
}

body,
html,
* {
  box-sizing: border-box;
}



body {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 7px;
}

li{
  list-style-type: style;;
  padding: 4px 0;
}

h1{
  font-weight: 800;
  font-size: larger;
}

h2{
  font-weight: 500;
  font-size:large;
}

h3,h4,h5,h6{
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6, p{
  line-height: 2;
  margin: 15px 0;
}

*::-webkit-scrollbar-track {
  background-color: rgb(226, 226, 226);
}

*::-webkit-scrollbar-thumb {
  background-color: #8a96a8;
  border-radius: 10px;
}

* {
  direction: rtl;
}

.scaltonItem {
  animation: fade 2s ease-in-out infinite;
}


@keyframes fade {

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }

}

@media(max-width:480px) {
  .text-base {
    font-size: 14px;
  }
}