@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}




.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

main {
  min-height: calc(100vh - 100px);
}



body {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 7px;
}


*::-webkit-scrollbar-track {
  background-color: rgb(226, 226, 226);
}

*::-webkit-scrollbar-thumb {
  background-color: #8a96a8;
  border-radius: 10px;
}

* {
  direction: rtl;
}

.scaltonItem {
  animation: fade 2s ease-in-out infinite;
}


@keyframes fade {

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }

}

@media(max-width:480px) {
  .text-base {
    font-size: 14px;
  }
}