@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body,
:root {
  height: 100%;
  font-size: 14px;
  scroll-behavior: smooth;
}

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

main {
  min-height: calc(100vh - 100px);
}

body,
html,
* {
  box-sizing: border-box;
}



body {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 7px;
}

li {
  list-style-type: disc;
  padding: 4px;
  margin-right: 25px;
}

h1 {
  font-weight: 800;
  font-size: larger;
}

h2 {
  font-weight: 500;
  font-size: large;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 2;
  margin: 15px 0;
}

*::-webkit-scrollbar-track {
  background-color: rgb(226, 226, 226);
}

*::-webkit-scrollbar-thumb {
  background-color: #8a96a8;
  border-radius: 10px;
}

* {
  direction: rtl;
}

.scaltonItem {
  animation: fade 2s ease-in-out infinite;
}


@keyframes fade {

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }

}

@media(max-width:480px) {
  .text-base {
    font-size: 14px;
  }
}


.breadcrumb {
  @apply flex items-center;
}

.breadcrumb a {
  @apply text-gray-600 hover:text-gray-900;
}

.breadcrumb svg {
  @apply mx-2 text-gray-400;
}


.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

.overlay:hover::after {
  background-color: rgba(0, 0, 0, 0.1);
}


.slick-disabled {
  pointer-events: none;
  opacity: 0.5;
}


.promotion {
  background-image: url(/images/frteee.png);
  background-repeat: no-repeat;
}