.hero_container {
    background-image: url(https://res.cloudinary.com/dpzvseigo/image/upload/v1720349384/karma_kay_5_1_1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}